<div class="container">
  <div class="content-title">
    <h1 class="title">Music Downloader Mp3</h1>
  </div>

  <div class="search">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search song" [(ngModel)]="termino" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="buscar()">Buscar</button>
    </div>
  </div>
  <div class="row">
    <img class="no-info" src="assets/fondo.jpg" alt="" *ngIf="info.length==0">
    <div class="col-md-3 text-center" *ngFor="let item of info">
      <div class="card" >
        <img class="imgSongs" [src]="item.snippet.thumbnails.high.url" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.snippet.title}}</h5>
        </div>
        <div >
        <button class="btn btn-success w-50" (click)="download(item.id.videoId)">Download</button>
      </div>


      </div>
    </div>
  </div>

</div>
<div class="footer-basic">
<footer class="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">

          <div class="social">
            <span class="copyright">David M. © {{year}}</span>
            <a href="https://github.com/davidjmcxl" target="_blank"><i class="icon ion-social-github" ></i></a
            >
            <a href="https://www.linkedin.com/in/david-jose-moreno-castilla/" target="_blank"><i class="icon ion-social-linkedin"></i></a>

          </div>



    </div>
  </div>
  </div>
</footer>
</div>
